body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
}

header {
    background-color: #07365B;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}

main {
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
}

.subject {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.session {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    max-width: 100%;
}

/*big-details：セクションの小見出し一覧*/
/*details：セクションの詳細*/
.details,
.big-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

/*セクション（小見出し）のトグル機能*/
.toggle {
    cursor: pointer;
    color: #007BFF;
}

/*大セクションのトグル機能*/
.big-toggle {
    cursor: pointer;
    color: #007BFF;
    border: thick double #ddd;
    text-decoration: underline double;
    padding: 10px;
}

/*点線の下線text-decoration: underline dotted;*/

/*大セクション*/
.big-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    padding-bottom: 20px;
}

/*目次の設定項目*/
.table-for-contents {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 75%;
    border-bottom: 10px dotted #07365B;
}

/*目次の設定項目*/
.form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 75%;
    border-top: 10px dotted #07365B;
}

/* 動画 */
.video {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    /* 100%（任意）の幅に設定 */
    padding-top: 56.25%;
    /* アスペクト比を16:9に保つためのパディング（高さ） */
}

/* 動画（いじらない） */
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    /* ボーダーを削除 */
}

/* 画像*/
.image_section {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    width: 100%;
    /* 100%（任意）の幅に設定 */

}

/* 画像（いじらない） */
.image_section img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*aタブのフォントの色*/
a {
    color: #0000ee;
}