body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
}

header {
    background-color: #07365B;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;

}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 80%;
    overflow-x: auto;
}


/*目次の設定項目*/
.table-for-contents {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
}

/*解説動画部の設定項目*/
.subject {
    border-top: 10px dotted #07365B;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*各セッションの設定項目*/
.session {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    width: 90%; /* 中央揃えの幅を調整 */
}

/*大セクションの設定項目*/
.big-section {
    width: 100%;
    padding-bottom: 20px;
}

/*big-details：セクションの小見出し一覧*/
/*details：セクションの詳細*/
.details,
.big-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}
/*small-details：セクション内小見出しの詳細*/
.small-details{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

/*セクション（小見出し）のトグル機能*/
.small-toggle {
    cursor: pointer;
    padding: 10px;
    color: #007BFF;
    text-decoration: underline;
}

/*小セクション（セクション内の小見出し）のトグル機能*/
.toggle {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

/*大セクションのトグル機能*/
.big-toggle {
    cursor: pointer;
    color: #007BFF;
    border: thick double #ddd;
    text-decoration: underline double;
    padding: 10px;
}

/*点線の下線text-decoration: underline dotted;*/

/*お問い合わせの設定項目*/
.form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 100%;
    border-top: 10px dotted #07365B;
}

/*予定の設定項目*/
.schedule {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    border-top: 10px dotted #07365B;
}

/*予定の設定項目*/
.one_word {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    border-top: 10px dotted #07365B;
}

/* 動画 */
.video {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    /* 100%（任意）の幅に設定 */
    padding-top: 56.25%;
    /* アスペクト比を16:9に保つためのパディング（高さ） */
}

/* 動画（いじらない） */
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    /* ボーダーを削除 */
}

/* 画像*/
.image_section {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    width: 100%;
    /* 100%（任意）の幅に設定 */

}

/* 画像（いじらない） */
.image_section img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*aタブのフォントの色*/
a {
    color: #0000ee;
}

/*参考：https://poppyou.com/box-design.html#index_id4*/
.fusen {
    padding: 0.5em;
    background-color:#DFF2FC;/*背景色*/
    border-left: solid 10px #07365B;/*左ライン*/
    color:#000000;/*文字色*/
}

.fusen p {
    margin: 0; 
    padding: 0;
}