/* Body全体の設定 */
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
}

/* Headerのスタイル */
header {
    background-color: #07365B;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}

/* Main部分のスタイル */
main {
    margin: 0 auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 1200px; /* 最大幅を設定 */
    overflow-x: auto;
}

/* オープニングの設定項目 */
.opening {
    max-width: 80%;
    margin: 20px auto;
}

/* 目次の設定項目 */
.table-for-contents {
    margin: 0 auto 20px;
    width: 100%;
    text-align: center; /* 中央揃え */
}

/* 左揃え */
.hidarizoroe {
    text-align: left;
}

/* 解説動画部の設定項目 */
.subject {
    border-top: 10px dotted #07365B;
    margin: 0 auto;
    width: 100%;
}

/*大セクション…教科名*/
/*セクション・セッション（小見出し）…項目（問の名前など）・詳細（動画）*/
/*小セクション（セクション内小見出し）…セクション内の小見出し（）*/
/*例：セクション「三角関数」、小セクション「加法定理」*/

/* 各セッションの設定項目 */
.session {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    width: 90%;
    margin: 0 auto; /* 中央揃え */
    margin-bottom: 10px; /* 各項目の縦の隙間 */
}

/* 大セクションの設定項目 */
.big-section {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}

/* big-details：セクションの小見出し一覧 */
.big-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

/* details：セクションの詳細 */
.details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

/* small-details：セクション内小見出しの詳細 */
.small-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

/* 大セクションのトグル機能 */
.big-toggle {
    cursor: pointer;
    color: #007BFF;
    border: thick double #ddd;
    text-decoration: underline double;
    padding: 10px;
}

/* セクション（小見出し）のトグル機能 */
.toggle {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

/* 小セクション（セクション内の小見出し）のトグル機能 */
.small-toggle {
    cursor: pointer;
    padding: 10px;
    color: #007BFF;
    text-decoration: underline;
}

/* お問い合わせの設定項目 */
.form {
    margin: 0 auto 20px;
    max-width: 100%;
    border-top: 10px dotted #07365B;
}

/* 予定の設定項目 */
.schedule, .one_word {
    margin: 0 auto 20px;
    width: 100%;
    border-top: 10px dotted #07365B;
}

/* 動画 */
.video {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

/* 動画（いじらない） */
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* 画像 */
.image_section {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    width: 100%;
}

/* 画像（いじらない） */
.image_section img {
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* 高さを自動に設定 */
}

/* aタグのフォント色 */
a {
    color: #0000ee;
}

/* ふせんのスタイル */
.fusen {
    padding: 0.5em;
    background-color: #DFF2FC;
    border-left: solid 10px #07365B;
    color: #000000;
}

.fusen p {
    margin: 0;
    padding: 0;
}
